---
const pageTitle = "Hotel Garden | Room Service!";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="description" content="Hotel Garden Band Website" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#131820" />
        <!-- Font Awesome-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!--Favicon-->
        <link rel="shortcut icon" href="images/hgfavicon.png" />
        <!-- Font Family -->
        <!-- Favicon -->
        <link rel="icon" href="/images/HOTELGARDENFavicon.svg" />
    </head>
    <body>
        <div class="room--service__container flex justify-center">
            <iframe
                class="overflow-hidden"
                src="https://docs.google.com/forms/d/e/1FAIpQLSf9onDcUagI03ntedomqpcpgxDoadtfDgMZ-fDhKIeM1NaBzg/viewform?embedded=true"
                width="640"
                height="2715"
                scrolling="no"
                frameborder="0"
                marginheight="0"
                marginwidth="0">Loading…</iframe
            >
        </div>
    </body>
</html>

<style>
    .room--service__container {
        background: url("images/blurry-gradient-haikei.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
