---
const imageItems = [
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/12wax.jpeg",
        alt: "Hotel Garden Band",
    },
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/grid_item.webp",
        alt: "Hotel Garden Band",
    },
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/on_the_y_2.jpeg",
        alt: "Hotel Garden Band",
    },
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/HotelGardenPool.jpg",
        alt: "Hotel Garden Band",
    },
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/cafeC.webp",
        alt: "Hotel Garden Band",
    },
    {
        ariaLabel: "Hotel Garden Band",
        src: "/images/12wax2.webp",
        alt: "Hotel Garden Band",
    },
];
---

<section class="about--content bg-third py-12 text-dark" id="about">
    <h2 class="about--title text-center text-h2 my-8">ABOUT US</h2>
    <div class="about--container md:grid md:grid-cols-2 p-4">
        <img
            class="about--img md:h-fit m-auto md:rounded object-cover shadow-lg shadow-dark md:w-4/5"
            src="/images/HotelGardenAbout.webp"
            alt="Hotel Garden"
        />
        <div class="flex flex-col justify-center">
            <p class="about--p text-2xl">
                Hotel Garden is a Sacramento based Indie Rock band. Their
                musical style draws inspiration from artists such as Peach Pit,
                Turnover, and The Backseat Lovers. With each show, the band
                strives to connect with audiences through their music and create
                a memorable experience.
            </p>
        </div>
    </div>

    <h2 class="my-8 text-center text-h2">Gallery</h2>
    <div class="container grid my-8 mx-auto gap-4 md:grid-cols-3 grid-cols-1">
        {
            imageItems.map((item) => {
                return (
                    <img
                        src={item.src}
                        alt={item.alt}
                        class="hover:scale-105 transition ease-in-out duration-200 shadow-lg shadow-dark w-full rounded-md object-cover h-80 border-8 border-white"
                    />
                );
            })
        }
    </div>
</section>

<style>
    @media (max-width: 450px) {
        .about--container {
            grid-template-columns: 1fr 1fr;
        }
        .about--img {
            width: 100%;
            height: auto;
        }
        .about--title {
            text-align: center;
        }
        .about--p {
            margin: 2rem 0;
        }
    }
</style>
