---
const footerItems = [
    {
        name: "Instagram",
        link: "https://www.instagram.com/hotelgardenband/",
        icon: "fa-brands fa-instagram nav-icon-class",
    },
    {
        name: "TikTok",
        link: "https://www.tiktok.com/@hotelgardenband",
        icon: "fa-brands fa-tiktok nav-icon-class",
    },
    {
        name: "Spotify",
        link: "https://open.spotify.com/artist/33YRDb38CEI0aA2TS5csdx?si=1uYMovQbQpG7uSgqTJB5-g",
        icon: "fa-brands fa-spotify nav-icon-class",
    },
    {
        name: "Apple Music",
        link: "https://music.apple.com/us/artist/hotel-garden/1648459007",
        icon: "fa-brands fa-apple nav-icon-class",
    },
    {
        name: "YouTube",
        link: "https://www.youtube.com/channel/UCLW6HCmYLTbe_Je8Q63-PMQ",
        icon: "fa-brands fa-youtube nav-icon-class",
    },
];
---

<footer class="bg-backgroundNav p-5">
    <div class="flex justify-center flex-col text-center">
        <nav>
            <ul class="flex justify-center gap-8 mb-4">
                {
                    footerItems.map((footerItem) => {
                        return (
                            <li class="text-3xl hover:text-secondary">
                                <a
                                    href={footerItem.link}
                                    aria-label={footerItem.name}
                                    target="_blank"
                                    rel="noopener noreferrer">
                                    <i class={footerItem.icon} />
                                </a>
                            </li>
                        );
                    })
                }
            </ul>
        </nav>
        <div class="flex flex-col justify-center">
            <p class="hover:text-slate-400">
                <a href="mailto:hotelgardenband@gmail.com">Hotel Garden</a>
            </p>
        </div>
    </div>
</footer>
