---

---

<section
  class="flex justify-center flex-col py-32 bg-background text-light"
  id="contact"
>
  <h2 class="text-center text-h2 my-4">CONTACT US</h2>
  <p class="text-3xl text-center my-8">
    For booking details, please reach out using the form below!
  </p>
  <form class="flex flex-col items-center" action="https://formsubmit.co/hotelgardenband@gmail.com" method="POST">
    <label for="name" class="text-2xl my-4">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="w-96 p-2 sm:w-40 text-dark"
      required
    />
    <label for="email" class="text-2xl my-4">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="w-96 p-2 sm:w-40 text-dark"
      required
    />
    <label
      for="message"
      class="block mb-2 my-4 text-2xl font-medium text-gray-900 dark:text-white"
      >Message</label
    >
    <textarea
      id="message"
      name="message"
      rows="4"
      class="block p-2.5 w-96 sm:w-40 text-md text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Leave a message..."></textarea>
    <button
      type="submit"
      class="bg-blue-500 text-light text-2xl p-2 my-8 hover:bg-blue-700 rounded-lg w-96 sm:w-40"
      >Submit</button
    >
  </form>
</section>
