---
---

<section
	class="flex justify-center flex-col py-32 bg-background text-light"
	id="form">
	<h2 class="text-center text-h2 my-4">CONTACT US</h2>
	<p class="text-3xl text-center my-8">Reach out using the button below!</p>
	<button
		class="bg-secondary text-dark p-2 rounded-md text-xl hover:bg-backgroundNav hover:text-light hover:scale-105 mx-auto transition-all ease-in-out duration-200"
		><a href="mailto:hotelgardenband@gmail.com">Click Here</a></button
	>
</section>
