---
---

<section class="py-32 bg-slate-950" id="shows">
    <h2 class="text-center text-h2">UPCOMING SHOWS</h2>
    <div class="shows-container">
        <div
            id="seated-55fdf2c0"
            data-artist-id="3b78b4c8-91a0-46e9-a34c-08e7331ba6fa"
            data-css-version="2">
        </div>
        <script is:inline src="https://widget.seated.com/app.js"></script>
    </div>
</section>

<style>
    #shows {
        background-color: #05050c;
        background-image: radial-gradient(#444cf7 0.45px, transparent 0.45px),
            radial-gradient(#444cf7 0.45px, #05050c 0.45px);
        background-size: 18px 18px;
        background-position: 0 0, 9px 9px;
    }
</style>
