---
---

<section class="py-32 bg-slate-950" id="shows">
    <h2 class="text-center text-h2 mb-4">UPCOMING SHOWS</h2>
    <div class="shows-container">
        <div
            id="seated-55fdf2c0"
            data-artist-id="3b78b4c8-91a0-46e9-a34c-08e7331ba6fa"
            data-css-version="2">
        </div>
        <script is:inline src="https://widget.seated.com/app.js"></script>
    </div>
</section>

<style>
    #shows {
        background-color: #25282a;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23464749' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23676667' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23888486' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a9a3a4' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CAC2C3' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    @media (max-width: 450px) {
        #shows {
            background-attachment: inherit;
        }
    }
</style>
